<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Quiz App</title>
    <link rel="stylesheet" href="/static/style.css" />
</head>

<body>
    <header>
        <h1>Quiz App</h1>
        <nav>
            <!-- Ana Menü butonu rol bazlı yönlendirme yapacak (ui.py'de logic var). -->
            <a href="/" class="btn">Ana Menü</a>
            <a href="/logout" class="btn">Çıkış Yap</a>
            <!-- Geri tuşu için parametre kontrol -->
            {% if not hide_back_button %}
            <a href="javascript:history.back()" class="btn">Geri</a>
            {% endif %}
        </nav>
    </header>

    <section class="centered-container">
        <div class="content-box">
            {% block content %}{% endblock %}
        </div>
    </section>

    <script src="/static/js/timer.js"></script>
    {% block scripts %}{% endblock %}
</body>

</html>